<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Seminarios</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container-fluid">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link fw-bold" href="/">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-bold" href="consultar">Consultar Inscripciones</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-bold" href="agregar">Agregar Inscripción Seminario</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="section-inscripcion mt-4 d-flex flex-column justify-content-center">
      <h2 class="text-center">Sistema de Inscripción a Seminario</h2>
      <p class="text-center">
        Bienvenido a nuestro sistema de inscripción a seminarios. Aquí encontrarás la información necesaria para registrarte en nuestros eventos educativos.
      </p>
      <ul>
        <li>Completa el formulario de inscripción con tus datos personales y la información requerida.</li>
        <li>Asegúrate de proporcionar una dirección de correo electrónico válida.</li>
        <li>Verifica cuidadosamente los datos ingresados antes de enviar el formulario.</li>
        <li>Al hacer clic en el botón "Guardar", la solicitud de inscripción será registrada en el sistema.</li>
        <li>Si necesitas modificar una solicitud existente, utiliza el módulo "Mostrar Seminarios" en el panel de administración.</li>
      </ul>
      <a href="/agregar" class="btn btn-primary btn-lg btn-block">Inscribir Seminario</a>

    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>